@{
    ViewBag.Title = "About";
}
<div class="hero2 text-center">
    <h1 class="animated bounceInDown">About Us</h1>
</div>
<div class="content">
    <div class="img1 row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>About Story</h1>
            <p style="text-align:justify; font-size: 20px">
                FindMentor web application is created was created to promote student success by increasing access to one-on-one education. 
                This is for the parents of students who are looking for good qualified mentors 
                for their children. All mentors in FindMentor website teach the students from middle school to high school 
                students. We guarantee for the qualification of mentors in our website. The users can find the mentors and do
                booking. We help students and parents find, schedule, and book quality tutors across a broad range of academic subjects. 
                Moreover, this website is created by using Asp.net Web Applicaiton with MVC Framework.
            </p>
            <button>@Html.ActionLink("Browse Mentor", "Index", "Mentor")</button>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
